@-moz-keyframes quietMad {
  3%, 21%, 39%, 57%, 74%, 92% {
    transform: translateY(5px) scale(1.1);
  }
  6%, 24%, 42%, 60%, 77%, 95% {
    transform: translateY(3px) scale(0.8);
  }
  9%, 27%, 45%, 63%, 80%, 98% {
    transform: translateY(-5px) scale(1.1);
  }
}
@-webkit-keyframes quietMad {
  3%, 21%, 39%, 57%, 74%, 92% {
    transform: translateY(5px) scale(1.1);
  }
  6%, 24%, 42%, 60%, 77%, 95% {
    transform: translateY(3px) scale(0.8);
  }
  9%, 27%, 45%, 63%, 80%, 98% {
    transform: translateY(-5px) scale(1.1);
  }
}
@-o-keyframes quietMad {
  3%, 21%, 39%, 57%, 74%, 92% {
    transform: translateY(5px) scale(1.1);
  }
  6%, 24%, 42%, 60%, 77%, 95% {
    transform: translateY(3px) scale(0.8);
  }
  9%, 27%, 45%, 63%, 80%, 98% {
    transform: translateY(-5px) scale(1.1);
  }
}
@keyframes quietMad {
  3%, 21%, 39%, 57%, 74%, 92% {
    transform: translateY(5px) scale(1.1);
  }
  6%, 24%, 42%, 60%, 77%, 95% {
    transform: translateY(3px) scale(0.8);
  }
  9%, 27%, 45%, 63%, 80%, 98% {
    transform: translateY(-5px) scale(1.1);
  }
}

@-moz-keyframes bounceFromTop {
  0%, 25%, 55%, 85%, 100% {
    animation-timing-function: ease-out;
    transform: translate3d(0, 0, 0);
  }
  41%, 44% {
    animation-timing-function: ease-in;
    transform: translate3d(0, -80px, 0) scale3d(1, 1.6, 1);
  }
  70% {
    animation-timing-function: ease-in;
    transform: translate3d(0, -20px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
@-webkit-keyframes bounceFromTop {
  0%, 25%, 55%, 85%, 100% {
    animation-timing-function: ease-out;
    transform: translate3d(0, 0, 0);
  }
  41%, 44% {
    animation-timing-function: ease-in;
    transform: translate3d(0, -80px, 0) scale3d(1, 1.6, 1);
  }
  70% {
    animation-timing-function: ease-in;
    transform: translate3d(0, -20px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
@-o-keyframes bounceFromTop {
  0%, 25%, 55%, 85%, 100% {
    animation-timing-function: ease-out;
    transform: translate3d(0, 0, 0);
  }
  41%, 44% {
    animation-timing-function: ease-in;
    transform: translate3d(0, -80px, 0) scale3d(1, 1.6, 1);
  }
  70% {
    animation-timing-function: ease-in;
    transform: translate3d(0, -20px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
@keyframes bounceFromTop {
  0%, 25%, 55%, 85%, 100% {
    animation-timing-function: ease-out;
    transform: translate3d(0, 0, 0);
  }
  41%, 44% {
    animation-timing-function: ease-in;
    transform: translate3d(0, -80px, 0) scale3d(1, 1.6, 1);
  }
  70% {
    animation-timing-function: ease-in;
    transform: translate3d(0, -20px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes zoomInBottom {
    from {
        transform: scale(20) translateY(50%);
        opacity: 0;
    }
}